{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- <form action="" method="POST">
    {% csrf_token %}
    {{form}}

    <input type="submit" name="Submit">
  
</form> -->
<section class="tables">
  <div class="container-fluid pt-4">
  		<header> 
            <ol class="breadcrumb mb-1 mt-1">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Varanda</a></li>
              {% if page == "form" %}
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Formulariu Karta Tama</a></li>
              {%endif%}
              <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
        </header>
    {% if messages %}
    {% for message in messages %}
    <div id="divmessage" class="alert alert-{{ message.tags }} alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h2>
              <p><center>Formulariu Adisiona Karta Tama</center></p>
            </h2>
            {% if page == "add" %}
            <form action="" id="indexForm" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row col-lg-12">
                <table class="table table-hover">
                  <tr>
                    <td><label>Ref. No : </label></td>
                    <td><input class="form-control" type="text" name="nu_karta_tama" value="{{dokumentu.nu_karta_tama}}"></td>

                  </tr>
                  <tr>
                    <td><label>Asuntu Karta : </label></td>
                    <td><input class="form-control" type="text" name="subject_karta_tama" value="{{dokumentu.subject_karta_tama}}"></td>
                  </tr>
                   <tr>
                    <td><label>Deskrisaun Karta : </label></td>
                    <td><input class="form-control" type="text" name="deskrisaun_karta_tama" value="{{dokumentu.deskrisaun_karta_tama}}"></td>
                  </tr>
                  <tr>
                    <td><label>Orijen Karta : </label></td>
                    <td><input class="form-control" type="text" name="orijen_karta_tama" value="{{dokumentu.orijen_karta_tama}}"></td>
                  </tr>
                  <tr>
                    <td><label>Entrega Husi : </label></td>
                    <td><input class="form-control" type="text" name="entrega_husi" value="{{dokumentu.entrega_husi}}"></td>
                  </tr>
                  <tr>
                    <td><label>Tinan Karta : </label></td>
                    <td><select name="tinan" class="form-control custom-select">
                        <option value="">---Select Tinan---</option>
                        {% for i in tinan %}
                        <option value="{{ i.id }}" {% if i.id == dokumentu.tinan_karta.id %} selected {% endif %}>
                          {{ i.tinan }}</option>
                        {% endfor %}
                      </select></td>
                  </tr>
                  <tr>
                    <td><label>Klasifikasaun Karta : </label></td>
                    <td><select name="Klasifikasaun" class="form-control custom-select">
                        <option value="">---Select Klasifikasaun---</option>
                        <option value="{{ i.id }}" {% if i.id == dokumentu.klasifikasaun.id %} selected {% endif %}>
                          {{dokumentu.klasifikasaun}}</option>
                        <option value="Normal">Normal</option>
                        <option value="Urgente">Urgente</option>
                        <option value="Konfidensial">Konfidensial</option>

                      </select></td>
                  </tr>
                  <tr>
                    <td><label>Kategoria : </label></td>
                    <td><select name="kat" class="form-control custom-select">
                        <option value="">---Select Category---</option>
                        {% for kat in categories %}
                        <option value="{{kat.id}}" {% if kat.id == dokumentu.kategoria_karta_tama.id %} selected {% endif %}>
                          {{kat.naran_kategoria}}</option>
                        {% endfor %}
                      </select></td>
                  </tr>

                  <tr>
                  <tr>
                    <td><label>Upload File : </label></td>
                    <td><input class="form-control" type="file" name="upload_file"
                        value="{{dokumentu.naran_file}}">{{dokumentu.naran_file}}</td>
                  </tr>
                </table>
                <br>
                <div class="form-group text-left">
                  <button class="btn btn-sm btn-warning" onclick=self.history.back()>
                    <span class="fa fa-angle-left"></span> Cancel

                    <button type="submit" name="save_and_add_another" class="btn btn-sm btn-default">
                      <span class="fa fa-save"></span> | Save and Add Another
                    </button>
                    <button type="submit" name="save" class="btn btn-sm btn-success">
                      <span class="fa fa-save"></span> | Save
                    </button>
                </div>
            </form>
            {%elif page == "update" %}
            {% csrf_token %}
            {% crispy form %}
            {%endif%}
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<script type="text/javascript">
  $("#kat").change(function () {
    var url = $("#indexForm").attr("data-category-url");
    var katid = $(this).val();

    $.ajax({
      url: url,
      data: {
        'kat': katid
      },
      success: function (data) {
        $("#subkat").html(data);
      }
    });

  });

</script>

{% endblock %}